.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
<<<<<<< HEAD
        width: 66.5%;

        .question {
            font-size: 19px;
            font-weight: bold;
            width: 100%;
            text-align: center;
        }

        .create {
            color: blue;
            font-size: 19px;
            font-weight: bold;
            width: 100%;
            text-align: center;
        }
=======
>>>>>>> parent of af7e04b... Committing
    }
}
