.friends-holder{
    height: 100%;

    .header{
        width: 20%;
    }
    .friends-list{
        orientation: horizontal;
        width: 30%;
        height: 500px;
        //border: 5px solid black;
        float:left; 
        display:inline;
        white-space: nowrap;
        .friend{
            height: 10%;
            white-space:nowrap;
            .email{
                float:left; 
                display:inline;
                width:80%;
                font-weight: bold;
                font-size: 25px;
                padding: auto;
                margin-top: 1%;
                white-space:nowrap;
            }
            .toggle{
                float:left; 
                display:inline;
                height:50%;
                margin-top:3%;
                white-space:nowrap;
            }
        }
        
    }
    .chat{
        border: 2px solid black;
        border-radius: 25px;
        float:left; 
        display:inline;
        width:25%;
        margin-top: -8%;
        .email{
            border: 2px solid black;
            border-radius: 21px 21px 0 0;
            background: rgb(90, 90, 90);
            color: white;
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
            font-weight:1000;
            font-size: 30px;
            padding: 10px 0 20px 0px;
            text-align: center;
        }
    }
}