.EnterInfo{
    .UserId{
        margin-bottom:1px;
        width: fit-content;
    }
    .button{
        display: flex;
        flex-wrap: wrap;
        margin:16px auto;
        width: fit-content;
        
    }
};
