.card-container {
    display: flex;
	flex-direction: column;
	border-radius: 5px;
	padding: 25px;
	cursor: pointer;
    transform: translate();
    
    .img{
        width: 254px;
        height: 150px;
    }
}