.sign-up {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 380px;
    .title {
        margin: 10px 0;
    }
    
    .link-up{
        color: black;
        border: 2px groove black;
        width: 100%;
        height: 100%;
    }
}